/* Based on http://edward.oconnor.cx/2009/08/presentation.css */
body {
  font-size: 200%;
  margin: 0;
  padding: 0;

}

a {
  text-decoration: none;
}

nav, nav ul, nav li {
  margin: 0;
  padding: 0;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: block;
  float: left;
  margin: 0 4px;
}

article.slides {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#bbd), to(#fff));
  background-color: #eee;
  background: -moz-linear-gradient(top, #bbd, #fff);
}

article.slides header, article.slides footer {
  width: 100%;
  margin: 0;
  position: absolute;
  left: 0;
  font-size: 50%;
}

article.slides header {
  top: 0;
  overflow: hidden;
  background: #bbd;
}

article.slides header h1, article.slides header nav,
article.slides footer p, article.slides footer address {
  margin: 1ex;
  padding: 0;
  font-size: 1em;
  font-weight: normal;
}

article.slides header h1,
article.slides footer address {
  float: left;
}

article.slides header nav,
article.slides footer p {
  float: right;
}

article.slides section {
  margin: 2% 0;
  padding: 0 1ex;
  text-align: center;
}

article.slides section p {
  width: 70%;
  margin: 1em auto;
}

article.slides section pre {
  text-align: left;
  width: 75%;
  margin: 0 auto;
}

article.slides footer {
  bottom: 0;
}

article.slides section h2 img {
  vertical-align: middle;
}

ul {
    list-style-type: none;
}
.amp {
  font-family: "Apple Chancery";
  font-style: italic;
}
